@font-face{
    font-family: 'Roboto-Medium';
    src: url('Roboto-Medium.ttf');
}

@font-face{
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf');
}
@font-face{
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.ttf')
}
body{
    margin: 0px;
}

a{
    text-decoration: transparent;
}

header{

}

.logo{
    height: 64px;
    background-color: white;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.logo_ohmyfood{
    width: 42%;
    height: 42%;
    align-self: center;
}

.location{
    height: 48px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
}
.icons{
    align-self: center;
}

.city{
    font-family: 'Roboto-Medium';
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 15px;
}

.explorer{
    height: 280px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.block_title{
    margin-bottom: 12px;
    margin-top: 40px;
}

.title_explo{
    font-size: 25px;
    font-family: 'Roboto-Regular';
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.center{

}

.text{
    font-family: 'Roboto-Thin';
    margin: 0;
    display: flex;
    justify-content: center;
}

#place_explorer{
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    align-self: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto-Medium';
    margin-top: 30px;
    box-shadow: 2px 2px 6px #aaa;
}

.global_menu{
    display: flex;
    flex-direction: column;
    height: 420px;
}

.block_title{
    margin-left: 20px;
    font-family: 'Roboto-Regular';
    font-size: 25px;
}

#global_title{
    text-decoration: none;
    color:black;
    background-color: #F6F6F6;
    align-self: center;
    margin-bottom: 25px;
    height: 75px;
    width: 80%;
    border-radius: 24px;
    font-family: 'Roboto-Light';
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 6px #aaa;
}

#global_title:hover{
    background-color: #F6EDFE;
}

.menu_number{
    font-size: 12px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    margin-right: 15px;
    height: 15px;
    width: 25px;
    text-align: center;
    background-color: #9356DC;
    position: absolute;
    left: 25px;
    padding-bottom: 4px;
    padding-top: 6px;   
}

.logo_menu{
    color: #7E7E7E;
    margin-left: 30px;
    margin-right: 8%;
}

#global_title h2{
    font-size: 16px;
}

#restaurants{
    background-color: #F6F6F6;
}

.place_title{
    padding-top: 12px;
    font-family: 'Roboto-Regular';
    font-size: 25px;
    margin-left: 20px;
}

.block_place{
    width: 90%;
    height: 260px;
    background-color: white;
    border-radius: 15px;
    margin-left: 5%;
    box-shadow: 2px 2px 6px #aaa;
}

.pic_place{
    width: 100%;
    height: 74%;
    border-radius: 15px 15px 0px 0px;
}

figcaption{
    display: flex;
    justify-content: space-between;
    color: black;
}

.text_place{
    margin-left: 3%;
}

.text_place h2{
    font-family: 'Roboto-Regular';
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 9px;
}

.text_place p{
    margin-top: 0px;
    font-family: 'Roboto-Thin';
}

.text_icon{
    align-self: center;
    margin-right: 7%;
}

footer{
    background-color: #353535;
    font-family: 'Roboto-Light';
    padding-left: 7%;
    padding-bottom: 8%;
}
footer a{
    color: white;
}

.logo_footer{
    width: 120px;
    margin-top: 6%;
}

.propose{
    display: flex;
    align-items: center;
}

.propose p{
    margin-bottom: 2%;
    margin-left: 4%;
}

.partner{
    display: flex;
    align-items: center;
}

.partner p{
    margin-bottom: 2%;
    margin-top: 0%;
    margin-left: 2%;
}

.mention{
    margin-top: 0%;
    margin-bottom: 2%;
}

.contact{
    margin-top: 0%;
    margin-bottom: 0%;
}

.footer_icon{

}
